PAGERDUTY_API_TOKEN=
PAGERDUTY_PRIMARY_SCHEDULE_ID=P5UY1NB

NOTION_API_TOKEN=
NOTION_DATA_SOURCE_ID=8ecf7c00-f7a6-4007-a0fb-f16440f6ccd7
NOTION_TEMPLATE_ID=121c23c3-fd68-42cd-8ad0-b33673a886a4
NOTION_INCIDENTS_DATA_SOURCE_ID=3b55ae17-4f1c-8023-bd82-000bb7a82cb9

NOTION_TITLE_PROPERTY=Title
NOTION_TIMEZONE=Europe/London
MENTION_NOW_PRIMARY=true
